canvas {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    background-color: rgb(255, 255, 255);
}
#restart-btn{
    
    position: absolute;
    top: 75%;
    left: 50%;

    z-index: -3;
}