*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background: rgb(190, 190, 190);
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  
   z-index: 2;
  }
  

  .flex-container a:hover {
    opacity: 0.5;
    transform: scale(1.1);
    transition: 0.8s ease-in-out;
    
  }



  .flex-container > a {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    
    transition: 0.5s ease-out;
    transform: scale(1);
    opacity: 1;

  }
div.flex-container{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    
    
}

  .page1{
    display: none;
    background-color: rgb(140, 140, 140);
}
  .page2{
    background-color: rgb(110, 110, 110);
}
.page3{
    background-color: rgb(80, 80, 80);
}
.page4{
    background-color: rgb(60, 60, 60);
}
.page5{
    background-color: rgb(40, 40, 40);

}

.page6{
    background-color: rgb(20, 20, 20);
}

.index_page_ref{
    opacity: 0;
    text-align: center;
    margin: auto;
}

.index_page_ref:hover{
    opacity: 1;
    transition: 0.5s ease-in-out;
    z-index: 99;
}
#blog {
   
    background-color: rgb(190, 190, 190);
    width: 100%;
    margin-top: 40px;
    text-align: center;
    font-family:  'Space Mono', monospace;
}

#bottom{
    background-color: rgb(190, 190, 190);
    width: 100%;
    height: 100%;
    z-index: 3;
}
.home{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    
}
.test_text{
    text-align: center;
    line-height: 300%;
    text-transform: lowercase;
    list-style: georgian;
    margin-top: 100px;
}

.test-page-btn{
    cursor: pointer;
}

.test-page {
    margin: 0;
    position: absolute;
    top: 30px;
    right: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
}
/* page 1*/
.blog-test-2{
    width: 800px;
display: inline-flex;

}
.blog-test-1{
    width: 800px;
}
.screenshots-page-1{
    text-align: center;
    font-size: 80px;
}

.nav-link-page-1 li {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    text-align: right;
   
    font-size: 25px;
    margin: 20px;
padding-left: 30px;
}
nav{
    background-color: rgb(214, 214, 214);
}
.title{
    text-align: right;
    font-size: 50px;
    margin: 30px 30px 30px;
}
.heading{
    text-align: right;
    margin-right: 80px;
    font-size: 30px;
    background-color: rgb(184, 184, 184);
    width: 100%;
}
.body-text-page-1{
    margin-left: 50px;
}
.body-text-page-1 > p{
    padding-left: 50px;
}
.body-text-page-1 > ul{
    padding-left: 100px;
}

/* page_2 */

.flex-container-p2 {
    display: inline-flex;
    flex-wrap: nowrap;
    background-color: white;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
  
   z-index: 2;
  }
  

  .flex-container-p2 a:hover{
    opacity: 0.5;
    transform: scale(1.1);
    transition: 0.8s ease-in-out;
    color: rgba(188, 143, 143, 0.521);
    
  }

  .flex-container-p2 > a {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0px;
    transition: 0.5s ease-out;
    transform: scale(1);
    opacity: 1;

  }
div.flex-container-p2{
   
    position: sticky;
    top: 0;
    
    padding: 0px;
    
}

.page1-p2{
    display: none;
    background-color: rgb(140, 140, 140);
}
.page2-p2{
    background-color: rgb(110, 110, 110);
}
.page3-p2{
    background-color: rgb(80, 80, 80);
}
.page4-p2{
    background-color: rgb(50, 50, 50);
}
.page5-p2{
    background-color: rgb(20, 20, 20);
}
.home {
    background-color: rgb(190, 190, 190);
}
.lp-list{
    margin-left: 50px;
    list-style-type: none;
}





/* test_page */

#page-content{
    background-color: rgb(236, 236, 236) !important;
overflow: hidden;
}

#page-content li {
list-style: none;
}

#page-content a{
    float: left;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#page-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
#page-content a.active {
    background-color: #04AA6D;
    color: white;
  }

/* fielset, tweet box*/
.tweet{
    font-family: 'Space Mono', monospace;
    
  
}
header, footer{
    display: flex;
    flex-direction: row;
}
header .view-btn{
    display: flex;
    margin: 0 0 0 auto;
}
header .view-btn button{
    border: 0;
    border-radius: 3px;
    padding: 50px;
}
header .view-btn button:hover{
    background-color: thistle;
}
header a:hover{
    opacity: 0.5;
}
header h3, header h4{
    display: flex;
    margin: 0;
}
#inner p{
    margin-bottom: 10px;
    font-size: 20px;
}
#inner hr{
    margin: 20px 0;
    border-style: solid;
    opacity: 0.1;
}
footer .stats{
    font-size: 18px;
    display: inline-flex;
    margin-left: 10px;
}
footer .stats strong{
    font-size: 18px;
}
footer .stats .likes{
    margin-left: 10px;
}

footer .cta {
    margin-left: auto;
    font-size: 15px;

}
footer .cta button{
    border: 0;
    background: transparent;
}
header .profile-thumbnail{
width: 100px;
height: 100px;
border-radius: 4px;
}
header .profile-name{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.visit-btn{
    cursor:pointer;
}
.view-btn
{
    padding: 0;
    z-index: 11;
}

/* ball animations*/

.balls{
    position: fixed;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 3;
}
#c1 {
    background: rgb(143, 76, 76);
    left: 27%;
    animation-timing-function: linear;
  }
#c2 {
    background: rgb(169, 172, 167);
    left: 56%;
    animation-timing-function: ease-out;
  }

  @keyframes bounce {
    0% {
      top: 0px;
    }
    100% {
      top: 100%;
    }
    0%{
        top: 0px;
    }
}

.search-bar{
    margin-left: auto;
   margin-right: 0;
    right: 10%;
    position:absolute;
    width: 30%;
    z-index: 11;
  
}
#search{
    font-family: 'Space mono', monospace;
}

/* Survey-form */

#survey-form {
    background: var(--color-darkblue-alpha);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
  }

  @media (min-width: 480px) {
    form {
      padding: 2.5rem;
    }
  }

  .form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }
.form-content {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .input-radio {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }
  
  .input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
  }

  .submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: var(--color-green);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

#title {
    font-weight: 400;
    line-height: 1.2;
  }
  
  p {
    font-size: 1.125rem;
  }
  
#title,
#description  {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  
  input,
  button,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  #page-content{
    position: fixed;
    top: 8em;
    width: 100%;
z-index: 10;  
}

  legend{
      text-align: center;
  }

  #questions{
      top: 12em;
      margin-top: 5em;
    
  }
  article{
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      border: #04AA6D;
      border-style: dotted;
      margin-top: 3em;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      padding: 5px 5px 5px 5px;
  
    }
  .test-page-ft{
      text-align: center;
      margin:0 auto;
      width: 100%;
      margin-top: 10px;
background-color: #bbbbbb;
z-index: 10;
display: block;
  }

  .video{
width: 100%;
height: 100%;


  }
.description {
    text-align: center;
    margin-bottom: 5px;
    font-family: sans-serif;
}

/*blocks flexbox*/
#box-container{
align-items: center;
    display: inline-flex;
   flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
margin-left: auto;
margin-right: auto;
width:100%;
margin-top: 80px;
}

#b-1{
    background-color: rgb(125, 161, 149);
    height: 10em;
    width: 15%;
    z-index: 15;
    flex-shrink: 1;
}
#b-2{
    background-color: burlywood;
    align-self: flex-end;
    height: 10em;
    width: 15%;
    z-index: 16;
    flex-shrink: 3;
}
#b-3{
    background-color: rgb(125, 161, 149);
    height: 10em;
    width: 15%;
    z-index: 15;
    flex-grow: 5;
}
#b-4{
    background-color: rgb(56, 116, 96);
    height: 10em;
    width: 15%;
    z-index: 15;
    flex-grow: 1;
}#b-5{
    background-color: rgb(54, 109, 50);
    height: 10em;
    width: 15%;
    z-index: 15;
}#b-6{
    background-color: rgb(46, 102, 51);
    height: 10em;
    width: 15%;
    z-index: 15;
}

.item1{
    background:rgb(156, 179, 194);
    grid-area: header;
}
.item2{
    background:rgb(134, 95, 80);
    grid-area: content1;
    display: grid;
    grid-template-columns: auto 1fr;
}
.item3{
    background:rgb(52, 122, 122);
    grid-area: bot;}
.item4{
    background:rgb(97, 58, 64);
    grid-area: footer;
}
.item5{
    background:rgb(118, 150, 118);
    grid-area: content2;
  
}

  .grid-container{
      font-size: 30px;
      min-height: 30em;
      width: 100%;
      background-color: rgb(175, 170, 163);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(3, minmax(100px, 1fr));
      grid-gap: 10px;
      margin-top: 80px;
      margin-bottom: 100px;
  grid-template-areas: 
  
  "bot header header"
  "bot content1 content2"
  "bot footer footer";

}
.test-page-btn2{
    cursor: pointer;
}

.test-page2 {
    margin: 0;
  padding: 1.5em;
  margin-left: auto;
  margin-right: 90%;
 
    z-index: 20;
}

